@import "tailwindcss";
@tailwind utilities;

.font-poppins {
	font-family: poppins, serif;
}

/* Fixed Animations */
@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(-15px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateX(15px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes showButton {
	from {
		opacity: 0;
		translate: translateY(0px);
	}
	to {
		opacity: 1;
		translate: translateY(-100px);
	}
}

/* Tailwind-compatible classes */
.animate-fadeIn {
	animation: fadeIn 2s ease-out forwards;
}

.animate-fadeOut {
	animation: fadeOut 3s ease-in forwards;
}
.animate-showButton {
	animation: showButton 1s ease-in forwards;
}
 
.peerlist-logo {
	background-image: url("./assets/peerlist-logo.png");
	background-size: contain;
}
.gradient {
  background: #833ab4;
  background: linear-gradient(
    to bottom,
    #833ab4,#fd1d1d,#fcb045
  );
}